<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />


	<!-- Activates various annotations to be detected in bean classes -->
	<context:annotation-config />

	<!-- Autowiring support (spring 2.5+) -->
	<!-- The AutowiredAnnotationBeanPostProcessor and CommonAnnotationBeanPostProcessor 
		are both included implicitly when using the component-scan element. That 
		means that the two components are autodetected and wired together -->
	<context:component-scan base-package="com.infog" />

	<context:property-placeholder
		properties-ref="deployProperties" />

	<aop:aspectj-autoproxy />


	<!-- Imports logging configuration -->
	<import resource="trace-context.xml" />

	<!-- Imports datasource configuration -->
	<import resource="spring-data.xml" />

	<bean id="deployProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean"
		p:location="classpath:spring.properties" />

	<bean id="staticBeanBuilder" class="com.infog.common.service.internal.StaticBeanBuilder" />

	<bean id="contentProviderBean" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
		    <value>java:global/infog/ContentProviderBeanImpl!com.digdeep.infog.beans.ContentProviderBeanLocal</value>
			<!-- 
			<value>java:global.infog.ContentProviderBeanImpl!com.digdeep.infog.beans.ContentProviderBeanLocal</value>
			-->
		</property>
	</bean>

	<bean id="feedDiscoveryBean" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:global/infog/FeedDiscoveryBeanImpl!com.digdeep.infog.beans.FeedDiscoveryBeanLocal</value>
		</property>
	</bean>

	<bean id="depthProperties" class="org.apache.cxf.staxutils.DocumentDepthProperties">
		<property name="innerElementCountThreshold" value="500" />
	</bean>

	<bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider">
		<property name="depthProperties" ref="depthProperties" />
	</bean>

	<bean id="jsonProvider" class="org.apache.cxf.jaxrs.provider.json.JSONProvider">
		<property name="depthProperties" ref="depthProperties" />
	</bean> 
	
	<jaxws:endpoint id="contentProvider"
		implementor="com.digdeep.infog.external.soap.impl.ContentProviderImpl"
		address="/ContentProvider" />
		
	<jaxrs:server id="content" address="/">
        <jaxrs:serviceBeans>
            <ref bean="contentImpl" />
        </jaxrs:serviceBeans>
        <jaxrs:extensionMappings>
            <entry key="xml" value="application/xml" />
        </jaxrs:extensionMappings>
    </jaxrs:server>

	<jaxrs:server id="contentDiscovery" address="/">
		<jaxrs:serviceBeans>
			<ref bean="contentDiscoveryImpl" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="jaxbProvider" />
			<ref bean="jsonProvider" />
		</jaxrs:providers>

	</jaxrs:server>
    
    <bean id="contentImpl" class="com.digdeep.infog.external.ContentProvider"/>
    <bean id="contentDiscoveryImpl" class="com.digdeep.infog.external.ContentDiscovery"/>
</beans>