<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:camel="http://camel.apache.org/schema/spring"  
	xmlns:amq="http://activemq.apache.org/schema/core"
	xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
          http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">
          

	<camel:camelContext id="infog" xmlns="http://camel.apache.org/schema/spring">
		<packageScan>
			<package>com.digdeep.infog.integration</package>
		</packageScan>
		<jmxAgent id="agent" disabled="true" />
		<route>
			<from
				uri="activemq:queue:feedresponse" />
			<convertBodyTo type="java.lang.String" />
			<transform>
				<simple>${in.body}</simple>
			</transform>
			<to
				uri="file://data/activemq/?fileExist=Append&amp;fileName=feedresponse-${date:now:yyyyMMdd}.txt" />
		</route>
	</camel:camelContext>

	<amq:broker useJmx="true" xmlns="http://activemq.apache.org/schema/core">
		<amq:transportConnectors>
			<amq:transportConnector uri="tcp://localhost:61616"/>
			<amq:transportConnector uri="vm://localhost"/>
		</amq:transportConnectors>
		    <managementContext>
        <managementContext createConnector="false">
        	<!-- 
        	<amq:MBeanServer >
        		<bean class="org.jboss.mx.util.MBeanServerLocator" factory-method="locateJBoss" />
        	</amq:MBeanServer>
        	-->
        </managementContext>
    </managementContext>
		
	</amq:broker>
	
	<bean id="jms" class="org.apache.activemq.camel.component.ActiveMQComponent">

		<!-- <property name="connectionFactory"> <bean class="org.apache.activemq.ActiveMQConnectionFactory"> 
			<property name="brokerURL" value="vm://localhost?broker.persistent=false&amp;broker.useJmx=true" 
			/> </bean> </property> -->

		<property name="configuration" ref="jmsConfig" />

	</bean>

	<bean id="jmsConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://localhost:61616" />
	</bean>

	<bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
		init-method="start" destroy-method="stop">
		<property name="maxConnections" value="8" />
		<property name="connectionFactory" ref="jmsConnectionFactory" />
	</bean>

	<bean id="jmsConfig" class="org.apache.camel.component.jms.JmsConfiguration">
		<property name="connectionFactory" ref="pooledConnectionFactory" />
		<property name="concurrentConsumers" value="10" />
	</bean>

</beans>